  .left{
    height:100vh !important;
  }
  .fuseicon{
    width:80px;
    height:80px;
  }

.button{
  font-size: 20px;
  width:75%;
}
.form-group{
  width:75%;
  
}
.formBox{
  justify-content: center;
  align-items: center;

}

.eyeIcon{
  cursor: pointer;
 
}
a{
  text-decoration: none;
}

.welcomeText{
  margin-top:250px;
  margin-left:50px;
  font-size:100px ;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fuseText{
  margin-left:50px;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
}
.lastText{
  margin-right:500px;

}

.images{
  margin-left:50px;

}
.lastDiv{
  display: flex;
}

